
Weather bot/.vs/Weather bot/FileContentIndex/cc2cc9d2-04b1-490f-99e4-0317a1d73c2a.vsidx
Weather bot/.vs/Weather bot/FileContentIndex/read.lock
Weather bot/.vs/Weather bot/v17/.suo
*.db
Weather bot/.vs/Weather bot/v17/ipch/AutoPCH/e33a10dadc713f3/WEATHER BOT.ipch
Weather bot/Weather bot/Weather bot.vcxproj
Weather bot/Weather bot/x64/Debug/vc143.idb
Weather bot/Weather bot/x64/Debug/Weather bot.exe.recipe
Weather bot/Weather bot/x64/Debug/Weather bot.log
Weather bot/Weather bot/x64/Debug/Weather bot.tlog/CL.read.1.tlog
Weather bot/Weather bot/Weather bot.vcxproj.filters
Weather bot/Weather bot/x64/Debug/vc143.pdb
Weather bot/Weather bot/x64/Debug/Weather bot.tlog/CL.write.1.tlog
Weather bot/Weather bot/x64/Debug/Weather bot.tlog/link.write.1.tlog
Weather bot/Weather bot/x64/Debug/Weather bot.tlog/link.read.1.tlog
Weather bot/Weather bot/x64/Debug/Weather bot.tlog/CL.command.1.tlog
Weather bot/Weather bot/x64/Debug/Weather bot.tlog/Weather bot.lastbuildstate
Weather bot/x64/Debug/Weather bot.exe
Weather bot/Weather bot/x64/Debug/Weather bot.obj
Weather bot/Weather bot/x64/Debug/Weather bot.ilk
Weather bot/Weather bot/x64/Debug/Weather bot.tlog/link.command.1.tlog
Weather bot/Weather bot/Пр №1 Симанов Иван КИ22-06Б.7z
Weather bot/Weather bot/Weather bot.vcxproj.user
Weather bot/x64/Debug/Weather bot.pdb
Weather bot/Weather bot.sln
Weather bot/.vs/Weather bot/FileContentIndex/7f7fb49b-81a1-43c3-bb0f-345c7ba36c1f.vsidx
Weather bot/.vs/Weather bot/FileContentIndex/ab59e76a-32a4-472e-96e6-2a48c6f0de65.vsidx
Weather bot/.vs/Weather bot/v17/Browse.VC.db-wal
Weather bot/.vs/Weather bot/v17/Browse.VC.opendb
Weather bot/.vs/Weather bot/v17/ipch/AutoPCH/c44af52534b8581d/WEATHER BOT.ipch
Weather bot/.vs/Weather bot/v17/Browse.VC.db-shm
Weather bot/.vs/Weather bot/v17/ipch/AutoPCH/dbc7c7edceaf77d8/VCTMP18648_441016.WEATHER BOT.00000000.ipch
