# Ignore everything
*
# But not these files...
!.gitignore
!Weather bot\Weather bot\Date.cpp
!Weather bot\Weather bot\Date.h
!Weather bot\Weather bot\proto.cpp
!Weather bot\Weather bot\proto.h
!Weather bot\Weather bot\weath.cpp
!Weather bot\Weather bot\weath.h
!Weather bot\Weather bot\Weather bot.cpp
!Weather bot\Weather bot\Weather.txt
!Weather bot\Sample-Test1